<h1>🍔 Food Ordering Website</h1>

<form method="POST">
    <input name="food" placeholder="Enter preference (sweet, spicy, burger)">
    <button type="submit">Get Suggestion</button>
</form>

<h3>{{ suggestion }}</h3>

<h2>Menu</h2>

{% for category, items in menu.items() %}
    <h3>{{ category }}</h3>

    {% for item, price in items %}
        <p>
            {{ item }} - ₹{{ price }}
            <a href="/add/{{item}}/{{price}}">Add to Cart</a>
        </p>
    {% endfor %}
{% endfor %}

<a href="/cart">🛒 Go to Cart</a>